$accent-background-color: #283E4B;
$main-background-color: white;
$light-color: white;
$footer-height: 80px;
$content-width: 94%;
$odd-rows-background-color: #D8D8D8;
$even-rows-background-color: #EDEDED;
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 ($footer-height + 25px);
    background: url("sad-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    @extend .content;
    background-color: $accent-background-color;
    color: $light-color;
}

footer {
    position: absolute;
    bottom: 0;
    left: (100% - $content-width) / 2;
    height: $footer-height;
}

main {
    @extend .content;
    background-color: $main-background-color;
}

thead {
    background-color: $accent-background-color;
    color: $light-color;
}

tbody tr:nth-child(2n+1) {
    background-color: $odd-rows-background-color;
}

tbody tr:nth-child(2n) {
    background-color: $even-rows-background-color;
}

input[id="departure"]:checked ~ .arrival {
    display: none;
}

input[id="arrival"]:checked ~ .departure {
    display: none;
}

thead td {
    padding: 10px;
}