@charset "UTF-8";
html {
  /* for sticky footer */
  position: relative;
  min-height: 100%; }

body {
  /* for sticky footer */
  margin: 0 0 105px;
  height: 100%;
  background: url("sad-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

header, main, footer {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-sizing: border-box; }
  header h1, header p, main h1, main p, footer h1, footer p {
    margin: 0;
    padding: 0; }

header, footer {
  background-color: RGBA(40, 62, 75, 0.9);
  color: white; }

header {
  margin-bottom: 25px; }

main {
  background-color: white; }

footer {
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 80px; }

footer p {
  margin: 0;
  padding: 0; }

input[id="departure"]:checked ~ label[for="departure"]::before,
input[id="arrival"]:checked ~ label[for="arrival"]::before {
  content: 'Сейчас показывается '; }

label[for="departure"]::before,
label[for="arrival"]::before {
  content: 'Показать '; }

input[id="arrival"]:checked ~ label[for="departure"],
input[id="departure"]:checked ~ label[for="arrival"] {
  text-decoration: underline;
  color: RGBA(40, 62, 75, 0.9); }

input {
  display: none; }

label {
  float: right;
  margin: 10px;
  padding: 5px; }

.thead,
thead {
  display: table-header-group;
  background-color: RGBA(40, 62, 75, 0.9);
  color: white; }

.tbody,
thead {
  display: table-row-group; }

.tr,
tr {
  display: table-row;
  text-decoration: none;
  padding: 0;
  margin: 0; }

.tbody .tr {
  color: black; }

.tbody .tr:nth-child(2n+1) {
  background-color: RGBA(180, 180, 180, 0.7); }

.tbody .tr:nth-child(2n) {
  background-color: RGBA(237, 237, 237, 0.7); }

input[id="departure"]:checked ~ .arrival {
  display: none; }

input[id="arrival"]:checked ~ .departure {
  display: none; }

.thead .td,
thead td {
  position: relative; }

.td,
td {
  display: table-cell;
  padding: 10px;
  position: relative;
  border: solid 1px black;
  margin: 0;
  vertical-align: center; }

.table,
table {
  display: table;
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%; }

.tbody .td:hover::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  background-color: RGBA(238, 218, 47, 0.7);
  z-index: -1; }

.tbody .td:hover::before {
  content: '';
  height: 100%;
  top: 0;
  position: absolute;
  left: -5000px;
  width: 10000px;
  background-color: RGBA(238, 218, 47, 0.7);
  z-index: -1; }

.frame {
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  padding: 5px; }

.frame p {
  margin: 0;
  padding: 0; }

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent; }

.s-seven
 {
  background-color: #B2DB1F;
  background-image: url("airlines/s7.png"); }

.un
 {
  background-image: url("airlines/un.png"); }

.su
 {
  background-image: url(airlines/su.png); }

.five-n
 {
  background-image: url(airlines/5n.png); }

.ah
 {
  background-image: url(airlines/ah.png); }

.ut
 {
  background-image: url(airlines/ut.png); }

.nine-u
 {
  background-image: url(airlines/9u.png); }

.tp
 {
  background-image: url(airlines/tp.png); }

.four-z
 {
  background-image: url(airlines/4z.png); }

@media screen and (max-width: 1150px) {
  .airline-name {
    display: none; } }
@media screen and (max-width: 1000px) {
  .airplane {
    display: none; } }
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }

.modal-dialog {
  display: table-cell;
  vertical-align: middle; }

.modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 5px;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  max-height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  overflow: scroll; }

.modal:target {
  display: table;
  position: fixed; }

.modal-content h1 {
  margin: 0 10px 10px;
  padding: 0;
  text-align: center; }

.status .frame {
  height: 40px; }

img {
  width: 100%;
  border: solid 1px black;
  border-radius: 5px; }

.close {
  float: right;
  color: RGBA(40, 62, 75, 0.9);
  font-size: 60px;
  text-decoration: none;
  line-height: 30px;
  margin-bottom: 10px; }

.close:hover {
  color: black; }

/*# sourceMappingURL=flights.css.map */
