@charset "UTF-8";
html {
  /* for sticky footer */
  position: relative;
  min-height: 100%; }

body {
  /* for sticky footer */
  margin: 0 0 105px;
  height: 100%;
  background: url("sad-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

header, main, footer {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-sizing: border-box; }
  header h1, header p, main h1, main p, footer h1, footer p {
    margin: 0;
    padding: 0; }

header, footer {
  background-color: RGBA(40, 62, 75, 0.9);
  color: white; }

header {
  margin-bottom: 25px; }

main {
  background-color: white; }

footer {
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 80px; }
  footer p {
    margin: 0;
    padding: 0; }

span.cancel {
  font-weight: 800;
  color: crimson; }

div.cancel {
  background-color: red; }

span.delay {
  font-weight: 800;
  color: darkorange; }

div.delay {
  background-color: yellow; }

/* Realization of table switch */
input.switch-table {
  display: none; }

label.switch-table {
  float: right;
  margin: 10px;
  padding: 5px; }

input[id="departure"]:checked ~ .arrival {
  display: none; }

input[id="arrival"]:checked ~ .departure {
  display: none; }

input[id="departure"]:checked ~ label[for="departure"]::before,
input[id="arrival"]:checked ~ label[for="arrival"]::before {
  content: 'Сейчас показывается '; }

label[for="departure"]::before,
label[for="arrival"]::before {
  content: 'Показать '; }

input[id="arrival"]:checked ~ label[for="departure"],
input[id="departure"]:checked ~ label[for="arrival"] {
  text-decoration: underline;
  color: RGBA(40, 62, 75, 0.9); }

/* Table classes */
.table {
  display: table; }

.thead {
  display: table-header-group; }

.tbody {
  display: table-row-group; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

/* Table styles */
.thead,
thead {
  background-color: RGBA(40, 62, 75, 0.9);
  color: white; }

.tbody .tr,
tbody tr {
  color: black; }

.tbody .tr:nth-child(2n+1),
tbody tr:nth-child(2n+1) {
  background-color: RGBA(180, 180, 180, 0.7); }

.tbody .tr:nth-child(2n),
tbody tr:nth-child(2n) {
  background-color: RGBA(237, 237, 237, 0.7); }

.td,
td {
  padding: 10px;
  position: relative;
  border: solid 1px black;
  vertical-align: middle; }

.table,
table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%; }

.table.highlighted,
table.hightlighted {
  overflow: hidden;
  position: relative;
  z-index: 0; }
  .table.highlighted .td:hover::after,
  table.hightlighted .td:hover::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    background-color: RGBA(238, 218, 47, 0.7);
    z-index: -1; }
  .table.highlighted .tbody .td:hover::before,
  table.hightlighted .tbody .td:hover::before {
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
    left: -5000px;
    width: 10000px;
    background-color: RGBA(238, 218, 47, 0.7);
    z-index: -1; }

a.tr {
  text-decoration: none; }

.bordered {
  border: solid 1px black;
  border-radius: 5px; }

.text-rectangle {
  background-color: white;
  text-align: center;
  padding: 5px; }
  .text-rectangle p {
    margin: 0;
    padding: 0; }

.arrival .bordered, .departure .bordered, .route .bordered {
  height: 90px; }

.status .bordered {
  height: 35px; }

/*Table widths and their display*/
.col-type {
  width: 70px;
  min-width: 70px; }

.col-number {
  width: 45px; }

.col-airline-name {
  width: 100px; }

.col-logo {
  width: 95px; }

.col-airplane {
  width: 80px; }

.col-check-in {
  width: 85px; }

.col-boarding {
  width: 85px; }

.col-departure {
  width: 110px; }

.col-city {
  width: 170px; }

@media screen and (max-width: 1290px) {
  .col-airline-name {
    display: none; } }
@media screen and (max-width: 1160px) {
  .col-airplane {
    display: none; } }
@media screen and (max-width: 1050px) {
  .col-note {
    display: none; } }
/* Adaptive scrolling area */
.scroll {
  display: block;
  height: 600px;
  overflow-y: auto; }

@media screen and (max-height: 850px) {
  .scroll {
    height: 500px; } }
@media screen and (max-height: 750px) {
  .scroll {
    height: 400px; } }
@media screen and (max-height: 650px) {
  .scroll {
    height: 300px; } }
@media screen and (max-height: 550px) {
  .scroll {
    height: 200px; } }
/* Logos */
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent; }

/* Сибирь */
.airline-s7 {
  background-color: #B2DB1F;
  background-image: url("airlines/s7.png"); }

/*Трансаэро*/
.airline-un {
  background-color: white;
  background-image: url("airlines/un.png"); }

/* Аэрофлот */
.airline-su {
  background-color: white;
  background-image: url(airlines/su.png); }

/* Нордавиа */
.airline-5n {
  background-color: white;
  background-image: url(airlines/5n.png); }

/* Эйр Алжир */
.airline-ah {
  background-color: white;
  background-image: url(airlines/ah.png); }

/* Ютайр */
.airline-ut {
  background-color: white;
  background-image: url(airlines/ut.png); }

/* Молдова */
.airline-9u {
  background-color: white;
  background-image: url(airlines/9u.png); }

/* TAP Portugal */
.airline-tp {
  background-color: white;
  background-image: url(airlines/tp.png); }

/* Airlink */
.airline-4z {
  background-color: darkblue;
  background-image: url(airlines/4z.png); }

/* Modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }

.modal:target {
  display: table;
  position: fixed; }

.modal-dialog {
  display: table-cell;
  vertical-align: middle; }

.modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 5px;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  max-height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  overflow: scroll; }
  .modal-content h1 {
    margin: 0 10px 10px;
    padding: 0;
    text-align: center; }
  .modal-content .close {
    float: right;
    color: RGBA(40, 62, 75, 0.9);
    font-size: 60px;
    text-decoration: none;
    line-height: 30px;
    margin-bottom: 10px; }
  .modal-content .close:hover {
    color: black; }

/*# sourceMappingURL=flights.css.map */
